@import ../../variables/variables

._container__light,
._container__dark  
    width: 100%
    height: 480px
    overflow-y: scroll
    flex-direction: column
    row-gap: 30px
    padding: 20px
    border-radius: 10px   
    background: get-color-level($main-color, 5)
    @media ( max-width: 500px )
        border-radius: 0
        padding: 15px
        margin-top: 70px
        height: calc( 100vh - (70px + 60px) )
    ._group
        width: 100%
        flex-direction: column
        row-gap: 5px
        strong
            font-size: 13px
            font-weight: 500
            align-items: center
            text-transform: capitalize
            column-gap: 8px
            img
                overflow: hidden
                border-radius: 50%
._container__light
    strong
        color: $dark-color

._container__dark  
    strong
        color: $white-color