@import ../../variables/variables

._container__light,
._container__dark 
    justify-content: space-between
    align-items: center
    background: $white-color
    padding: 20px
    border-radius: 10px
    @media ( max-width: 500px )
        border-radius: 0
        position: fixed
        width: 100%
        top: 0
        left: 0
    ._open__menu
        display: none
        @media ( max-width: 1050px )
            display: flex
    ._chat__mobile
        display: none
        @media ( max-width: 500px )
            display: flex
    ._switch__mode,
    ._chat__window,
    ._menu
        @media ( max-width: 500px )
            display: none
    ._menu
        font-size: 15.5px
        column-gap: 25px
        text-transform: capitalize
        @media ( max-width: 1050px )
            position: fixed
            z-index: 1000
        li
            a
                column-gap: 5px
                align-items: center
                transition: 0.2s
                padding: 10px 15px
                border-radius: 5px
                color: get-color-level($black-color, 70)
                &:hover
                    background: get-color-level($main-color, 7)
                svg
                    color: $main-color

            a._active
                background: get-color-level($main-color, 7)
                color: $black-color
                        

    ._tool
        column-gap: 10px
        width: 205.6px
        @media ( max-width: 1050px )
            width: fit-content

._container__light
    background: $white-color
    ._menu
        li
            a
                color: get-color-level($black-color, 70)
                &:hover
                    background: get-color-level($main-color, 7)
                    color: $black-color
            a._active
                background: get-color-level($main-color, 7)
                color: $main-color

._container__dark          
    background: rgb(0, 0, 0)
    ._menu
        li
            a
                color: get-color-level($white-color, 70)
                &:hover
                    background: get-color-level($main-color, 20)
                    color: $white-color
            a._active
                background: get-color-level($main-color, 20)
                color: $main-color